<mat-drawer-container [hasBackdrop]="false" class="main-container">
  <mat-drawer #drawer mode="side">
    <div class="nav-sidebar">
      <div style="display: flex; margin-top: 10px;">
        <mat-icon matSuffix style="flex-grow: 0; margin: 5px;">account_circle</mat-icon>
        <mat-label colo="primary" class="nav-sidebar-user">Benutzer</mat-label>
        <mat-icon matSuffix style="flex-grow: 0; margin: 5px;">exit_to_app</mat-icon>
        <mat-divider></mat-divider>
      </div>
      <div class="nav-sidebar-top">
        <button mat-button color="primary" routerLink="/customer" class="leftsidebutton">Tabellendaten</button>
        <button mat-button color="primary" routerLink="/salute" class="leftsidebutton">Grafikeinstellungen</button>
        <button mat-button color="primary" routerLink="/salute" class="leftsidebutton">Beispielmodelle</button>
        <mat-divider></mat-divider>
      </div>
      <div style="flex-grow: 29;"></div>
      <div class="nav-sidebar-bottom">
        <mat-divider></mat-divider>
        <button mat-button color="primary" routerLink="/" class="leftsidebutton">Einstellungen</button>
        <button mat-button color="primary" routerLink="/" class="leftsidebutton">Benutzer wechseln</button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="content">
    <div class="toolbar mat-elevation-z8">
      <mat-toolbar color="primary" class="toolbar-banner">
        <div style="flex-grow: 0;">
          <button class="mat-focus-indicator mat-icon-button mat-button-base" (click)="drawer.toggle()">
            <span class="mat-button-wrapper"><mat-icon>menu</mat-icon></span>
          </button>
        </div>
        <div style="flex-grow: 1; text-align: center;">Grafikgenerierungstool</div>
        <div style="flex-grow: 0; display: flex; min-width: 200px;">
          <mat-form-field style="font-size: 12px;" *ngIf="search.hide">
            <input matInput placeholder="Suche" [(ngModel)]="search.value" (keyup.enter)="suchen()">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </mat-toolbar>
    </div>
    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
