<div class="haupt-container"> 
  <!--<div class="table-container">
    <table mat-table [dataSource]="datasourceSalution" matSort class="mat-elevation-z8 table">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="salution" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Anrede </th>
          <td mat-cell *matCellDef="let element"> {{element.salution}} </td>
        </ng-container>
        <ng-container matColumnDef="edit" style="min-width: min-content;" sticky>
        <th mat-header-cell *matHeaderCellDef>Bearbeiten Löschen</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editSalute(element)" style="margin-right: 20px;"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="primary" (click)="deleteSalute(element.id)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
  </div>-->
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Balkendiagramm
        </mat-panel-title>
        <mat-panel-description>
          Bilderinhalt hier rein {{panelOpenState ? 'open' : 'closed'}}
          <div><img [attr.src]="[true? '/home/steffen/Adressverwaltung/Addressadministration-1/AufnahmeMock-Up.png' : '']"/></div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
      <img src="/home/steffen/Adressverwaltung/Addressadministration-1/AufnahmeMock-Up.png">
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
        Liniendiagramm
        </mat-panel-title>
        <mat-panel-description>
        Bilderinhalt hier rein {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>    
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
        Andere Diagramme
        </mat-panel-title>
        <mat-panel-description>
        Bilderinhalt hier rein {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>
  
  <button mat-fab class="button" [@simpleFadeAnimation]="'in'" (click)="addSalute()" color="accent" [@simpleFadeAnimation]="'in'">
    <mat-icon>add</mat-icon>
  </button>
</div>
