<div class="haupt-container"> 
  <div class="table-container">
    <table mat-table [dataSource]="datasourceSalution" matSort class="mat-elevation-z8 table">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="salution" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Anrede </th>
          <td mat-cell *matCellDef="let element"> {{element.salution}} </td>
        </ng-container>
        <ng-container matColumnDef="edit" style="min-width: min-content;" sticky>
        <th mat-header-cell *matHeaderCellDef>Bearbeiten Löschen</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editSalute(element)" style="margin-right: 20px;"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="primary" (click)="deleteSalute(element.id)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
  </div>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Hat sich nichts verändert
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>
  
  <button mat-fab class="button" [@simpleFadeAnimation]="'in'" (click)="addSalute()" color="accent" [@simpleFadeAnimation]="'in'">
    <mat-icon>add</mat-icon>
  </button>
</div>
