.table{
    width: 100%;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 30%;
    margin: 20px;
}
.button-container{
	position: absolute;
	bottom: 15px;
	right: 30px;
    z-index: 3;
}
.mat-tab-label.mat-tab-label-active {
    background-color: transparent;
    color: royalblue;
    font-weight: 700;
}
.tabs {
    padding-bottom: 75px;
}
.haupt-container{
	display: flex;
	flex-direction: column;
    height: 100%;
    overflow: auto;
}