<h1 mat-dialog-title>Adresse</h1>
<div mat-dialog-content class="main-content">
    <mat-form-field *ngIf="address">
        <mat-label>Straße</mat-label>
        <input matInput cdkFocusInitial placeholder="" [(ngModel)]="address.street">
    </mat-form-field>
    <mat-form-field *ngIf="address">
        <mat-label>Hausnummer</mat-label>
        <input matInput placeholder="" [(ngModel)]="address.streetnumber">
    </mat-form-field>
    <mat-form-field *ngIf="address">
        <mat-label>Ort</mat-label>
        <input matInput placeholder="" [(ngModel)]="address.location">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button color="accent" (click)="save()">Speichern</button>
    <button mat-button (click)="close()">Abbrechen</button>
</div>