<h1 mat-dialog-title>Ansprechpartner</h1>
<div mat-dialog-content class="main-content">
    <mat-vertical-stepper [linear]="isLinear" #stepper>
        <div style="display: flex; align-content: center;">
            <mat-step [stepControl]="firstFormGroup">
                <ng-template matStepLabel>Kontakt</ng-template>
                <mat-form-field *ngIf="contact" style="width: 100%;">
                    <mat-label>Vorname</mat-label>
                    <input matInput cdkFocusInitial placeholder="" [(ngModel)]="contact.firstname">
                </mat-form-field>
                <mat-form-field *ngIf="contact" style="width: 100%;">
                    <mat-label>Nachname</mat-label>
                    <input matInput placeholder="" [(ngModel)]="contact.lastname">
                </mat-form-field>
                <mat-form-field *ngIf="contact" style="justify-self: center;">
                    <mat-label>Anrede</mat-label>
                    <mat-select [(ngModel)]="contact.salutId">
                        <mat-option *ngFor="let salute of salute" [value]="salute.id">
                        {{salute.salution}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-step>
        </div>
        <mat-step [stepControl]="secondFormGroup">
            <ng-template matStepLabel>Adressen</ng-template>
            <table mat-table [dataSource]="datasourceAddress" matSort #AddressSort class="table">

                <ng-container matColumnDef="street">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Straße </th>
                    <td mat-cell *matCellDef="let element"> {{element.street}} </td>
                </ng-container>
                
                <ng-container matColumnDef="streetnumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hausnummer </th>
                    <td mat-cell *matCellDef="let element"> {{element.streetnumber}} </td>
                </ng-container>
        
                <ng-container matColumnDef="location">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ort </th>
                    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                </ng-container>
                <ng-container matColumnDef="edit" style="min-width: min-content;" sticky>
                    <th mat-header-cell *matHeaderCellDef>Bearbeiten Löschen</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" (click)="editAddress(element)" style="margin-right: 20px;"><mat-icon>edit</mat-icon></button>
                        <button mat-icon-button color="primary" (click)="deleteAddress(element.id)"><mat-icon>delete</mat-icon></button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplayAddress; sticky: true;"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplayAddress;"></tr>
            </table>
        </mat-step>
    </mat-vertical-stepper>
</div>
<div mat-dialog-actions style="justify-content: center;">
    <button color="accent" mat-button (click)="save()">Speichern</button>
    <button mat-button (click)="close()">Abbrechen</button>
    <button mat-button (click)="addAddress()">Adr. hinzufügen</button>
</div>
